<div class="login container" *ngIf="loginChecked">
  <div *ngIf="loggedIn">
    <!-- <div>{{modeName}}</div> -->
    {{username}}

    <button (click)="logout()">Logout</button>
  </div>
  <div *ngIf="showRegistration && !loggedIn">
    <h2>Registration</h2>
    <input [(ngModel)]="formUsername">
    <input [(ngModel)]="formPassword" (keydown.enter)="register()" type="password">
    <button (click)=" register()">Register</button>
  </div>
  <div *ngIf="!showRegistration && !loggedIn">
    <h2>Login</h2>
    <input [(ngModel)]="formUsername">
    <input [(ngModel)]="formPassword" (keydown.enter)="login()" type="password">
    <button (click)=" login()">Login</button>
  </div>
  <div *ngIf="!loggedIn">
    <div class="spacer"></div>
    <button (click)="showRegistration = !showRegistration">
      {{(showRegistration ? "&larr; Back to Login" : "Need to register?" )}}
    </button>
  </div>

</div>